In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore') # Ignore warnings
import sklearn.metrics as metrics

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
all_dtypes = {'id': 'category', 'item_id': 'category', 'dept_id': 'category', 'cat_id': 'category', 
                'store_id': 'category', 'state_id': 'category', 'd': 'category', 'sales_unit': 'float32',
                "event_name_1": "category", "event_name_2": "category", "event_type_1": "category",
                "event_type_2": "category", "weekday": "category", 'wm_yr_wk': 'int16', "wday": "int16",
                "month": "int16", "year": "int16", "snap_CA": "float32", 'snap_TX': 'float32', 'snap_WI': 'float32' }

In [4]:
c1 = pd.read_csv("ca_1.csv", dtype=all_dtypes)
c1.drop(columns = ["Unnamed: 0"], inplace = True)
#Convert date column to datetime format
c1["date"] = pd.to_datetime(c1["date"])
c1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5918109 entries, 0 to 5918108
Data columns (total 21 columns):
 #   Column        Dtype
---  ------        -----
 0   id            category
 1   item_id       category
 2   dept_id       category
 3   cat_id        category
 4   store_id      category
 5   state_id      category
 6   d             category
 7   sales_units   float64
 8   date          datetime64[ns]
 9   wm_yr_wk      int16
 10  weekday       category
 11  wday          int16
 12  month         int16
 13  year          int16
 14  event_name_1  category
 15  event_type_1  category
 16  event_name_2  category
 17  event_type_2  category
 18  snap_CA       float32
 19  snap_TX       float32
 20  snap_WI       float32
dtypes: category(12), datetime64[ns](1), float32(3), float64(1), int16(4)
memory usage: 288.1 MB

In [5]:
c1

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales_units,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0.0,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5918104,FOODS_3_823_CA_1_evaluation,FOODS_3_823,FOODS_3,FOODS,CA_1,CA,d_1941,2.0,2016-05-22,11617,Sunday,2,5,2016,NaN,NaN,NaN,NaN,0.0,0.0,0.0
5918105,FOODS_3_824_CA_1_evaluation,FOODS_3_824,FOODS_3,FOODS,CA_1,CA,d_1941,0.0,2016-05-22,11617,Sunday,2,5,2016,NaN,NaN,NaN,NaN,0.0,0.0,0.0
5918106,FOODS_3_825_CA_1_evaluation,FOODS_3_825,FOODS_3,FOODS,CA_1,CA,d_1941,1.0,2016-05-22,11617,Sunday,2,5,2016,NaN,NaN,NaN,NaN,0.0,0.0,0.0
5918107,FOODS_3_826_CA_1_evaluation,FOODS_3_826,FOODS_3,FOODS,CA_1,CA,d_1941,1.0,2016-05-22,11617,Sunday,2,5,2016,NaN,NaN,NaN,NaN,0.0,0.0,0.0
5918108,FOODS_3_827_CA_1_evaluation,FOODS_3_827,FOODS_3,FOODS,CA_1,CA,d_1941,5.0,2016-05-22,11617,Sunday,2,5,2016,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [6]:
#Moving Averages
import tqdm

window=[7,14,21,28,35]
for i in tqdm.tqdm(window):
    c1['rolling_mean_'+str(i)]=c1.groupby(['id'])['sales_units'].transform(lambda s: s.rolling(i).mean())


window=['rolling_mean_7','rolling_mean_14', 'rolling_mean_21' ,'rolling_mean_28', 'rolling_mean_35']
for i in window:
    c1[i]=c1[i].fillna(0)

100%|████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:11<00:00,  2.21s/it]

In [7]:
c1["diff"] = c1.groupby(['id'])['sales_units'].transform(lambda s: s.diff())
c1["diff"] = c1["diff"].fillna(0)

In [8]:
# Lags
lags = [1,7,14,21,28,35]

for i in lags:
    c1['lag_'+str(i)]=c1.groupby(['id'])['sales_units'].shift(i)
# if you see in dataframe there is lot of NaN value get created. i am replacing NaN value with "0".
lags=['lag_1','lag_7', 'lag_14','lag_21', 'lag_28', 'lag_35']

for i in lags:
    c1[i]=c1[i].fillna(0)

In [9]:
# Top Holidays effect
c1['SuperBowl']=c1['event_name_1'].apply(lambda x: 1 if (x == "SuperBowl") else 0)
c1['SuperBowl']=c1['SuperBowl'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

c1['MothersDay']=c1['event_name_1'].apply(lambda x: 1 if (x == "Mother's day") else 0)
c1['MothersDay']=c1['MothersDay'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

c1['PesachEnd']=c1['event_name_1'].apply(lambda x: 1 if (x == "Pesach End") else 0)
c1['PesachEnd']=c1['PesachEnd'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

c1['PurimEnd']=c1['event_name_1'].apply(lambda x: 1 if (x == "Purim End") else 0)
c1['PurimEnd']=c1['PurimEnd'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

c1['LaborDay']=c1['event_name_1'].apply(lambda x: 1 if (x == "LaborDay") else 0)
c1['LaborDay']=c1['LaborDay'].apply(lambda x: 0 if (pd.isnull(x) | (x == 0))  else 1)

In [10]:
# For any holiday effect
c1['Holiday']=c1['event_name_1'].apply(lambda x: 1 if (pd.isnull(x) == False) else 0)
c1['Holiday']=c1['Holiday'].apply(lambda x: 0 if (pd.isnull(x)) else 1)

In [11]:
# Weekend effect
weekends= ["Saturday", "Sunday"]
c1['weekend']=c1['weekday'].apply(lambda x: 1 if x in weekends else 0)

In [12]:
# Get quarter, week number, and the day of date
c1['quarter'] = c1['date'].dt.quarter
c1['weekofyear'] = c1['date'].dt.weekofyear
c1['daynumber'] = c1['date'].dt.day

C:\Users\rusty\AppData\Local\Temp\ipykernel_6444\1518857245.py:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  c1['weekofyear'] = c1['date'].dt.weekofyear

In [13]:
# (IMPORTANT) Remember to change snap CA to snap state you are using for model
data_with_features = c1[['id', 'dept_id', 'sales_units', 'date', 'wday', 'month', 'year', 'snap_CA','rolling_mean_7', 
                         'rolling_mean_14','rolling_mean_21', 'rolling_mean_28', 'rolling_mean_35', 'diff','lag_1', 'lag_7',
                         'lag_14', 'lag_21', 'lag_28', 'lag_35','SuperBowl', 'MothersDay', 'PesachEnd', 'PurimEnd', 'LaborDay',
                         'Holiday','weekend', 'quarter', 'weekofyear', 'daynumber']]

In [14]:
# Check number of missing values in each column
print(data_with_features.isnull().sum())

id                 0
dept_id            0
sales_units        0
date               0
wday               0
month              0
year               0
snap_CA            0
rolling_mean_7     0
rolling_mean_14    0
rolling_mean_21    0
rolling_mean_28    0
rolling_mean_35    0
diff               0
lag_1              0
lag_7              0
lag_14             0
lag_21             0
lag_28             0
lag_35             0
SuperBowl          0
MothersDay         0
PesachEnd          0
PurimEnd           0
LaborDay           0
Holiday            0
weekend            0
quarter            0
weekofyear         0
daynumber          0
dtype: int64

In [14]:
data_with_features = pd.get_dummies(columns=['dept_id'],data = data_with_features)

In [16]:
data_with_features['date'].max()

Timestamp('2016-05-22 00:00:00')

# Model Building

In [20]:
train = data_with_features[data_with_features['date']<'2016-05-01']
test = data_with_features[data_with_features['date']>='2016-05-01']

In [21]:
train_x = train.drop(columns=['sales_units','date','id'])
train_y = train['sales_units']
test_x = test.drop(columns=['sales_units','date','id'])
test_y = test['sales_units']

### LightGBM

In [22]:
import lightgbm as lgb

params = {
    'n_estimators': 2000,
    'max_depth': 4,
    'learning_rate': 0.1,
    'boosting_type': 'dart'
}

model = lgb.LGBMRegressor(first_metric_only = True, **params)

model.fit(train_x, train_y,
          eval_metric = 'rmse', 
          eval_set = [(test_x, test_y)],
          #early_stopping_rounds = 10,
          verbose = 0)

C:\Users\rusty\anaconda3\envs\sql1\lib\site-packages\lightgbm\sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "

LGBMRegressor(boosting_type='dart', first_metric_only=True, max_depth=4,
              n_estimators=2000)

In [23]:
y_pred = model.predict(test_x)

In [26]:
metrics.mean_squared_error(test_y,y_pred, squared=False)

0.0649137123825673

In [29]:
len(data_with_features['id'].unique())

3049